[submodule "utils/spike"]
	path = utils/spike
	url = https://github.com/riscv/riscv-isa-sim
[submodule "utils/riscv-opcodes"]
	path = utils/riscv-opcodes
	url = https://github.com/riscv/riscv-opcodes
[submodule "utils/tests"]
	path = utils/tests
	url = https://github.com/riscv/riscv-tests
